h1 {
    margin: 15px 0 30px 20px;
    font-size: 60px;
}

/*header*/

.menu {
    width: 880px;
    margin: 0 0 0 20px;
    padding: 11px;
    background: #575757;
    list-style: none;
}

.menu li {
    display: inline;
}

.menu li a {
    margin: 0;
    padding: 10px 30px 10px 14px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    background: #383838;
}

.menu a .selected {
    padding: 10px 14px;
    color: #fefefe;
}

/*left side*/

.left {
    width: 180px;
    height: 0;
    margin: 30px 10px 5px 20px;
    padding: 0;
    list-style-type: none;
}

.left a {
    display: block;
    margin-bottom: -1px;
    padding: 12px 14px;
    border: 1px solid #808080;
    color: #000;
    text-decoration: none;
}

.left a:hover {
    padding: 8px 8px 8px 40px;
    background: #f9f9f9;
}

/*content*/

.image {
    margin: 0 0 0 240px;
}

p {
    width: 630px;
    margin: 20px 0 0 280px;
    color: #3b3b3b;
    font-size: 15px;
}

/*footer*/

.footer {
    width: 880px;
    margin: 70px 0 0 20px;
    padding: 3px;
    background: #e1e1e1;
    list-style: none;
}

.footer li {
    display: inline;
}

.footer li a {
    margin: 0;
    padding: 10px 50px 10px 20px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: underline;
}

.copy {
    margin: 0 0 0 190px;
}
